################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.local-chromium
/.config
/.vs/neoPuppeteer.WS.slnx/v18
/.vs/neoPuppeteerWS/FileContentIndex
/bin
/obj
/Properties
